/* css styles */

/* Styles for body */
body {
    background-color: rgb(63, 227, 248);
    font-family: "Papyrus", "Copperplate", fantasy;
    text-align: center;
}

/* Font styles for heading */
h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(238, 9, 9);
}

/* Unordered list style */
ul {
    width: 800px;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    border: 10px solid rgb(238, 9, 9);
    margin-left: 520px;
    list-style-type: none;
}