/* css styles */

/* Styles for body */
body {
    background-color: hsl(199, 75%, 55%);
    font-family: "Papyrus", "Copperplate", fantasy;
    text-align: center;
}

/* Font styles for heading */
h1 {
    font-size: 90px;
    font-weight: bold;
    color: #2b09ee;
}

/* Unordered list style */
ul {
    width: 800px;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    border: 10px solid #2b09ee;
    margin-left: 520px;
    list-style-type: none;
}